[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "ThirdParty/DirectXTex"]
	path = ThirdParty/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
	branch = main
[submodule "ThirdParty/Streamline"]
	path = ThirdParty/Streamline
	url = https://github.com/NVIDIA-RTX/Streamline.git
[submodule "ThirdParty/DLSS"]
	path = ThirdParty/DLSS
	url = https://github.com/NVIDIA/DLSS.git
